.feedback {
    font-size: 26px;
    font-weight: bold;
    color: black;
  }
  
  .feedback-button {
    background-color: #90EE90;
  }
  
  .rick-and-morty-DnD-image {
    border: 1px solid red;
    border-radius: 6px;
  }
  
  .feed-4 {
    float: center;
  }

  .feed-4-button {
    width: 80%;
    margin: 10px;
  }